<h2>Cities</h2>
<div class="flex">
  <div class="flex-1">
    <div class="table-container">
      <table class="table w-100" [formGroup]="putCityForm">
        <thead>
          <tr>
            <th>#</th>
            <th>City Name</th>
          </tr>
        </thead>
        <tbody formArrayName="cities">
          <tr *ngFor="let city of cities; let i = index">
            <td>{{ i + 1 }}</td>
            <td [formGroupName]="i">
              <input
                type="text"
                formControlName="cityName"
                [ngClass]="{
                  'border-less-textbox': city.cityID !== editedCityID,
                  'form-input': city.cityID == editedCityID
                }"
              />
            </td>
            <td style="width: 200px">
              <button
                class="button button-blue-back"
                (click)="editClicked(city)"
                *ngIf="city.cityID !== editedCityID"
              >
                Edit
              </button>
              <button
                class="button button-blue-back"
                (click)="updateClicked(i)"
                *ngIf="city.cityID == editedCityID"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex-2">
    <div class="form-container">
      <h3>Create City</h3>
      <form [formGroup]="postCityForm" (ngSubmit)="postCitySubmited()">
        <div class="form-field flex">
          <div class="form-label pt">
            <label for="CityName" class="w-25"> City Name </label>
            <div class="flex-1">
              <input
                type="text"
                class="form-input"
                formControlName="cityName"
              />
              <span
                class="text-red"
                *ngIf="
                  (postCity_cityNameControl.touched ||
                  isPostCityFormIsSubmited) && (postCity_cityNameControl.errors?.['required'])
                "
                >City Name Can't Be Blanked</span
              >
            </div>
          </div>
        </div>
        <div class="form-field flex">
          <div class="w-25"></div>
          <div class="flex-1">
            <button class="button button-green-back" type="submit">
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
