@{
    if (ViewBag.Id != null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
    
    ViewData["title"] = "Search Product";
}

<h1>Search Products</h1>

<p>Welcome To Search Products Page</p>